<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="workouts">
      <ion-icon name="fitness"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="diet">
      <ion-icon name="restaurant"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon name="bar-chart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
